*{
    margin: 0;
    padding: 0;
}
html{
    height: 100%;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    color: royalblue;
    font-family: 'Times New Roman', Times, serif;
    font-size: 10rem;
    height: 100%;
}
